
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 45 14% 96%;
    --foreground: 20 10% 10%;
    --card: 0 0% 100%;
    --card-foreground: 20 10% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 20 10% 10%;
    --primary: 47 14% 47%;
    --primary-foreground: 45 14% 98%;
    --secondary: 45 20% 90%;
    --secondary-foreground: 47 14% 30%;
    --muted: 45 10% 90%;
    --muted-foreground: 47 5% 45%;
    --accent: 38 70% 69%;
    --accent-foreground: 20 10% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 45 10% 88%;
    --input: 45 10% 88%;
    --ring: 47 14% 47%;
    --radius: 0.2rem;
  }
  .dark {
    --background: 20 10% 10%;
    --foreground: 45 14% 96%;
    --card: 20 10% 12%;
    --card-foreground: 45 14% 96%;
    --popover: 20 10% 12%;
    --popover-foreground: 45 14% 96%;
    --primary: 45 14% 96%;
    --primary-foreground: 20 10% 10%;
    --secondary: 20 10% 15%;
    --secondary-foreground: 45 14% 96%;
    --muted: 20 10% 15%;
    --muted-foreground: 45 10% 70%;
    --accent: 38 70% 69%;
    --accent-foreground: 20 10% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 20 10% 20%;
    --input: 20 10% 20%;
    --ring: 45 14% 96%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-body antialiased;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-headline;
  }
}
